/* First section */
.firstSectionBanner {
  height: 409px;
  margin-bottom: 3rem !important;
  background: #111111;
  padding-left: 1rem;
  padding-right: 1rem;
}

.firstSectionBanner h1,
.firstSectionBanner p {
  color: #ffffff;
}

.firstSectionBanner h1 {
  font-weight: 500;
  margin-top: 5rem !important;
}

.firstSectionBanner h1 b {
  color: var(--primary-error-color);
}

.firstSectionBanner p {
  max-width: 600px;
  font-size: 19px !important;
  margin-bottom: 1rem !important;
}

.firstSectionActionsContainer {
  max-width: 650px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.firstSectionActionsContainer p {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 500;
  font-size: 16px !important;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-bottom: 1em;
}

/* Second section */
.secondSectionContainer {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 970px;
  margin-bottom: 2rem !important;
}

/* Media queries */
@media (max-width: 600px) {
  .firstSectionBanner {
    height: 359px;
    margin-bottom: 2rem !important;
  }
  .firstSectionBanner h1 {
    margin-bottom: 10px;
    margin-top: 5rem !important;
  }
}
